/*fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}


body {
    background-image: url('https://github.com/gicarolinedev/cronogramaestudos/blob/main/assets/images/cronogramabackground.jpeg?raw=true');
    background-size: cover;
    width: 100%; /* Preenche toda a tela */
    background-position: center; /* Centraliza */
    background-repeat: no-repeat; /* Evita repetição */
}


/*título*/
h1 {
    font-family: 'Luckiest Guy', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #f375f3; /* Borda neon simples */
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

/*subtítulo */
.subtitulo {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-shadow: 0 0 5px #f375f3;  /* Borda neon simples */
    text-align: center;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo horizontalmente */
}

/*coluna das semanas */
.semanas {
    display: grid; /*transforma um contêiner em uma grade*/
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Colunas flexíveis */
    gap: 20px;
    width: 100%;
    min-width: 250px;
    max-width: 1000px;
    margin-top: -10px; /* Ajuste para a largura desejada */
    align-items: stretch; /* força todos os filhos a ocuparem mesma altura */
}

.semana {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    min-width: 0px;
    min-height: 220px; /* força altura mínima igual */
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* título da semana */
h2 {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    margin-top: 0;
}

/*data */
.data {
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    color: #8b8b8b;
    margin-bottom: 10px;
}

/*botão de adicionar tarefa */
.add-tarefa {
    font-family: 'Share Tech Mono', monospace;
    margin-bottom: 15px;
    background: linear-gradient(to right, #700174, #7e027e); /* gradiente roxo fundo botão*/
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*botão de alterar data */
.alterar-data {
    font-family: 'Share Tech Mono', monospace;
    margin-bottom: 10px;
    background: rgb(55, 255, 29);
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lista-tarefas {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tarefa {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 5px;
}

.descricao {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    flex: 1;
    font-size: 14px;
}

.status {
    width: 15px;
    height: 15px;
    border-radius: 4px;
}

.para-fazer {
    background-color: #007bff;
    /* azul */
}

.em-andamento {
    background-color: #ffc107;
    /* amarelo */
}

.concluido {
    background-color: #28a745;

}

/* legenda/status da tarefa */
.legenda {
    background: linear-gradient(to right, #700174, #381838);
    margin-top: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 1000;
}


.legenda {
    background: linear-gradient(to right, #700174, #381838);
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 9999;
}


.legenda p {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    margin: 5px 0;
}

.legenda .status {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
}
